*{
    margin: 0;
    padding: 0;
}

body{
    background-color: grey;
    align-items: center;
    justify-content: center;
    display: flex;
}

.email{
    max-width: 550px;
    background-color: white;
    border: 2px solid black;
}

header{
    background-color: green;
    color: white;
    text-align: center;
    padding: 8px;
}

.big{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin: 50px;
}

hr{
    color: green;
    height: 2px;
    background-color: green;
}

.detail{
    margin: 15px;
    padding: 5px;
}

.detail p{
    margin: 6px;
    padding: 10px;
    
}


footer {
    text-align: center;
    padding: 10px;
}

footer i {
    margin: 0 5px;
}

.foot {
    font-size: 0.8em; 
    white-space: pre-wrap; 
}

